# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to keep LF
*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.sh text eol=lf

# Explicitly declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary